<div id="<%= dom_id timetable %>">
  <p>
     <% if timetable.file.attached?%>
        <% timetable.file.each do |attachment| %>
         <% if attachment.image? %>
           <%= image_tag attachment, width: "1000px"%>
         <% elsif attachment.video? %>
            <video width="320" height="240" controls>
              <source src="<%= rails_blob_url(attachment)%>" type="<%= attachment.content_type %>" />
            </video>
          <% else %>  
             <iframe src="<%= rails_blob_url(attachment) %>" width="100%" height="500px">
             </iframe>
         <% end %>  
        <% end %>
      <% end %>
    <p>


</div>
