<div id="<%= dom_id createclass %>">
  <p>
    <strong>Classname:</strong>
    <%= createclass.classname %>
  </p>

  <p>
    <strong>Subjectcode:</strong>
    <%= createclass.subjectcode %>
  </p>

  <p>
    <strong>Branchcode:</strong>
    <%= createclass.branchcode %>
  </p>

  <p>
    <strong>Collegecode:</strong>
    <%= createclass.collegecode %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= createclass.session %>
  </p>

</div>
