<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
 <%# <style>
.logo1{
  height:28;
}
</style>  %>


<body>

  <!-- ======= Header ======= -->
  
  <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <i class="fa fa-magnet" style="font-size:48px;color:#07d8ff"></i>&nbsp;&nbsp;
        <i class="fa fa-ellipsis-v" style="font-size:48px;color:red"></i>&nbsp;
        <h1 class="logo me-auto"><a href="">University Based  Class Management</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
        <ul>
        <% if teacher_signed_in?%>
        <li class="nav-link scrollto">
          
        <li class="nav-link scrollto">
           <%= link_to 'Home',  createclasses_path,class:"nav-link"%>
        </li>  
        
        <% if current_teacher.profile.present?%>

         
         <% @profiles.each do |profile| %>
        
          <% if profile.teacher == current_teacher%>
            <img src="<%= profile.image %>" class="rounded-circle account-img" alt="..." style="width: 45px; height: 45px;">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" style="color:#fff;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <%= current_teacher.name.capitalize %></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><%= link_to "Profile", profile ,class:"dropdown-item" %></li>
                <li><%= button_to('Logout',  destroy_teacher_session_path, :method => :delete , class:"dropdown-item" )%> </li>
              </ul>
            </div>
              
        <% end %>
        <% end %>
        <% else %> 
         <li class="nav-link scrollto"> 
          <%= link_to(new_profile_path) do %>
            <%= image_tag "profile2.jpeg" ,class:'rounded-circle account-img',style: 'width: 45px; height: 45px;' %>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" style="color:#fff;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <%= current_teacher.name.capitalize %></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><%= button_to('Logout',  destroy_teacher_session_path, :method => :delete , class:"dropdown-item" )%> </li>
                 <li><%= button_to('Add Profile' , new_profile_path , class:"dropdown-item" )%> 
              </ul>
            </div>
          <% end %>
          <% end %> 
         </li>  
        
         
         
        </li>
       <% else %> 

       <% if student_signed_in?%>
          <li class="nav-link scrollto">
           <%= link_to 'Home',  joins_path,class:"nav-link"%>
        </li>  
        
        <% if current_student.studentprofile.present?%>

         
         <% @studentprofiles.each do |studentprofile| %>
        
          <% if studentprofile.student == current_student%>
            <img src="<%= studentprofile.image %>" class="rounded-circle account-img" alt="..." style="width: 45px; height: 45px;">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" style="color:#fff;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <%= current_student.name.capitalize %></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><%= link_to "Profile", studentprofile ,class:"dropdown-item" %></li>
                <li><%= button_to('Logout',  destroy_student_session_path, :method => :delete , class:"dropdown-item" )%> </li>
              </ul>
            </div>
              
        <% end %>
        <% end %>
        <% else %> 
         <li class="nav-link scrollto"> 
          <%= link_to(new_studentprofile_path) do %>
            <%= image_tag "profile2.jpeg" ,class:'rounded-circle account-img',
            style: 'width: 45px; height: 45px;' %>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" style="color:#fff;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <%= current_student.name.capitalize %></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><%= button_to('Logout',  destroy_student_session_path, :method => :delete , class:"dropdown-item" )%> 
                <li><%= button_to('Add Profile', new_studentprofile_path ,class:"dropdown-item" )%></li>
              </ul>
            </div>
          <% end %>
          <% end %> 
         </li>  
        <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sing_up
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Teacher' , new_teacher_registration_path, class:"dropdown-item"%></li>
            <li><%= link_to 'Student' , new_student_registration_path, class:"dropdown-item"%></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sing_in
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Teacher' , new_teacher_session_path, class:"dropdown-item"%></li>
            <li><%= link_to 'Student' , new_student_session_path, class:"dropdown-item"%></li>
          </ul>
        </li>
       <% end %>
        <% end %>
          </ul>  
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
          
         

  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
 <br>
 <br>
 <br>