
<div class="container py-5 h-80">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-12 col-lg-10 col-xl-9">
        <div class="card" style="border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                
                  <%= render @studentprofile  %>

              </div>
              <div class="flex-grow-1 ms-3">
                <h3 class="mb-3 mt-2"><b>Name: <%= current_student.name.capitalize%></b></h3>
                
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef;">
                 
                  <%= current_student.email%>
                </div>
                <div style="margin-top:370px; ">
                  <%# <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button> %>
                  <%= link_to(edit_studentprofile_path) do %>
                  <button type="button" class="btn btn-primary flex-grow-1">Update Profile</button>
                  <% end %>
                </div>
                  <%= button_to "Remove Profile", @studentprofile, method: :delete , class:"btn btn-danger" , style:"float:right; "%>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>